:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-grey-blue: hsl(227, 10%, 46%);
    font-size: 112.5%;
}

* {
    box-sizing: border-box;
}

body {
    display:block;
    height: 100vh;
    background-color: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: center;  
    overflow: hidden;
    
}
.main{
    display: flex;
    width: 100vw;
    height: 60vh;
   align-items: center;
   justify-content: center;

}
.top-image{
   position: absolute;
   top: -50%;
   right: 55%;
}

.bottom-image{
    position: absolute;
    top: 50%;
    left: 50%;
    clip-path: inset(0 0 30em 0);
}

.card-container {

    display: flex;
    margin: auto auto;
}
.card {
    background-color: white;
    width: 25rem;
    height: 27rem;
    border-radius: 1em;
    text-align: center;
    z-index: 2;
    box-shadow: 1em 1em 1em .5em  hsl(229, 23%, 23%, .3);
}

.background {
    width: 100%;
    border-radius: 1em 1em 0 0;
}
.profile__picture{
    position: relative;
    border:  solid 0.5rem white;
    border-radius: 50%;
    top: -3em;
}

h1, td{
    font-size: 1rem;
    font-weight: 700;
    columns: var(--very-dark-blue);
}
h1, h2, hr {
    position: relative;
    font-size: 18px;
}

h1 span, h2, th{
    font-weight: 400;
    color: var(--dark-grey-blue);
    font-size: 18px;
}


th, td {
    padding-right: 1em;
    padding-left: 1em;
}

.attribution {
    width: 100%;
    display: inline-block;
    position:relative;
}

.profile__info{
    display: grid;
    position: relative;
    top: -1.5rem;
}

.grid__divider{
    width: 100%;
    color: var(--dark-grey-blue);
}


.attribution {
    text-align: center;
    margin-left: 0.5em;
}

.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 400px)
{
   
    .card-container {
        height: 100%;
        width: 100%; 
        margin: 0 auto;       
    }

    .attribution {
        font-size: 0.8rem;
        display: block;
        width: 30em;
    }

}
